<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2505" android:versionName="2.5.0.5" package="com.rsultimate.muzik" platformBuildVersionCode="27" platformBuildVersionName="8.1.0">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/icon" android:persistent="true" android:allowBackup="true">
        <activity android:theme="@style/AppTheme.Main" android:label="@string/app_name" android:name="com.audlabs.viperfx.main.MainActivity" android:screenOrientation="nosensor" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.audlabs.viperfx.screen.DSPScreenActivity" android:screenOrientation="nosensor" android:configChanges="orientation" android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:label="@string/app_name" android:name="com.audlabs.viperfx.setting.SettingActivity" android:screenOrientation="nosensor" android:configChanges="orientation" />
        <activity android:label="@string/app_name" android:name="com.audlabs.viperfx.about.ChangelogActivity" android:screenOrientation="nosensor" android:configChanges="orientation" />
        <activity android:label="@string/app_name" android:name="com.audlabs.viperfx.about.HelpActivity" android:screenOrientation="nosensor" android:configChanges="orientation" />
        <activity android:label="@string/app_name" android:name="com.audlabs.viperfx.about.AboutActivity" android:screenOrientation="nosensor" android:configChanges="orientation" />
        <service android:name="com.audlabs.viperfx.service.ViPER4AndroidService" android:enabled="true" android:exported="false" />
        <service android:name="com.audlabs.viperfx.update.DownloadService" />
        <receiver android:name="com.audlabs.viperfx.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
